<% provide(:title, t("users.course_2.course")) %>
<h1><%= t "users.course_2.name" %></h1>

<div class="row">
    <%= link_to t("users.course_2.word_list_2"), wordlist1s_path, class: "btn btn-lg btn-default" %>
    <%= link_to t("users.course_2.lesson_2"), "#", class: "btn btn-lg btn-default" %>
</div>
