<% provide(:title, t("users.course_1.course")) %>
<h1><%= t "users.course_1.name" %></h1>

<div class="row">
    <%= link_to t("users.course_1.word_list_1"), wordlists_path, class: "btn btn-lg btn-default" %>
    <%= link_to t("users.course_1.lesson_1"), "#", class: "btn btn-lg btn-default" %>
</div>
