<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Created Date</th>
      <th scope="col">User Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Duration</th>
      <th scope="col">Question number</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= @lesson.id %></td>
      <td>Easy English</td>
      <td>10/10/2018</td>
      <td><%  %></td>
    </tr>
  </tbody>
</table>
