<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Course</th>
      <th scope="col">Lesson Title</th>
      <th scope="col">Day</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= @lesson.id %></td>
      <td>Easy English</td>
      <td>10/10/2018</td>
      <td><%  %></td>
    </tr>
  </tbody>
</table>
