<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: C-D</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_p">
             <li><a href="./wordlists">A-B</a></li>
             <li><class="currentpage"><span>C-D</span></a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><a href="./h-k">H-K</a></li>
             <li><a href="./l-n">L-N</a></li>
             <li><a href="./o-p">O-P</a></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><a href="./s">S</a></li>
             <li><a href="./t">T</a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div> 
    </div>
    <div class="side-selector__right">
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>cabinet</a></li> 
        <li><a>cable</a></li> 
        <li><a>cake</a></li> 
        <li><a>calculate</a></li> 
        <li><a>call</a></li> 
        <li><a>call back</a></li> 
        <li><a>called</a></li> 
        <li><a>call for</a></li> 
        <li><a>call off</a></li> 
        <li><a>call up</a></li> 
        <li><a>calm</a></li> 
        <li><a>calm down</a></li> 
        <li><a>calmly</a></li> 
        <li><a>camera</a></li> 
        <li><a>camp</a></li> 
        <li><a>campaign</a></li> 
        <li><a>camping</a></li> 
        <li><a>can</a></li> 
        <li><a>cancel</a></li> 
        <li><a>candidate</a></li> 
        <li><a>candy</a></li> 
        <li><a>cannot</a></li> 
        <li><a>capable</a></li> 
        <li><a>capital</a></li> 
        <li><a>captain</a></li> 
        <li><a>capture</a></li> 
        <li><a>car</a></li> 
        <li><a>card</a></li> 
        <li><a>cardboard</a></li> 
        <li><a>care</a></li> 
        <li><a>care for</a></li> 
        <li><a>careful</a></li> 
        <li><a>carefully</a></li> 
        <li><a>careless</a></li> 
        <li><a>carelessly</a></li> 
        <li><a>carpet</a></li> 
        <li><a>carrot</a></li> 
        <li><a>carry</a></li> 
        <li><a>carry on</a></li> 
        <li><a>carry out</a></li> 
        <li><a>case</a></li> 
        <li><a>cash</a></li> 
        <li><a>cast</a></li> 
        <li><a>castle</a></li> 
        <li><a>cat</a></li> 
        <li><a>catch</a></li> 
        <li><a>catch up</a></li> 
        <li><a>category</a></li> 
        <li><a>cause</a></li> 
        <li><a>CD</a></li> 
        <li><a>cease</a></li> 
        <li><a>ceiling</a></li> 
        <li><a>celebrate</a></li> 
        <li><a>celebration</a></li> 
        <li><a>cell</a></li> 
        <li><a>cell phone</a></li> 
        <li><a>cent</a></li> 
        <li><a>centimetre</a></li> 
        <li><a>cetral</a></li> 
        <li><a>centre</a></li> 
        <li><a>certain</a></li> 
        <li><a>certificate</a></li> 
        <li><a>chain</a></li> 
        <li><a>chair</a></li> 
        <li><a>chairman</a></li> 
        <li><a>chairwoman</a></li> 
        <li><a>challenge</a></li> 
        <li><a>chamber</a></li> 
        <li><a>chance</a></li> 
        <li><a>change</a></li> 
        <li><a>change round</a></li> 
        <li><a>channel</a></li> 
        <li><a>chapter</a></li> 
        <li><a>characteristic</a></li> 
        <li><a>charge</a></li> 
        <li><a>charity</a></li> 
        <li><a>chart</a></li> 
        <li><a>chase</a></li> 
        <li><a>chase away</a></li> 
        <li><a>chat</a></li> 
        <li><a>chase away</a></li> 
        <li><a>cheap</a></li> 
        <li><a>cheaply</a></li> 
        <li><a>cheat</a></li> 
        <li><a>cheat of</a></li> 
        <li><a>check</a></li> 
        <li><a>check in</a></li> 
        <li><a>check into</a></li> 
        <li><a>check on</a></li> 
        <li><a>check out</a></li> 
        <li><a>check over</a></li> 
        <li><a>check up on</a></li> 
        <li><a>cheek</a></li> 
        <li><a>cheer ful</a></li> 
        <li><a>cheerully</a></li> 
        <li><a>cheese</a></li> 
        <li><a>chemical</a></li> 
        <li><a>chemist</a></li> 
        <li><a>chemistry</a></li> 
        <li><a>cheque</a></li> 
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
