<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: H-K</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_p">
             <li><a href="./wordlists">A-B</a></li>
             <li><a href="./c-d">C-D</a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><class="currentpage"><span>H-K</span></a></li>
             <li><a href="./l-n">L-N</a></li>
             <li><a href="./o-p">O-P</a></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><a href="./s">S</a></li>
             <li><a href="./t">T</a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div> 
    </div>
    <div class="side-selector__right"> 
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>habit</a></li> 
        <li><a>hair</a></li> 
        <li><a>hairdresser</a></li> 
        <li><a>half</a></li> 
        <li><a>hall</a></li> 
        <li><a>hammer</a></li> 
        <li><a>hand</a></li> 
        <li><a>hand back</a></li> 
        <li><a>hand down</a></li> 
        <li><a>hand in</a></li> 
        <li><a>handle</a></li> 
        <li><a>hang out</a></li> 
        <li><a>hang over</a></li> 
        <li><a>hand round</a></li> 
        <li><a>hang</a></li> 
        <li><a>hang about</a></li> 
        <li><a>hang about with</a></li> 
        <li><a>hang around</a></li> 
        <li><a>hang around with</a></li> 
        <li><a>hang on</a></li> 
        <li><a>hang on to</a></li> 
        <li><a>hang up</a></li> 
        <li><a>happen</a></li> 
        <li><a>happen to</a></li> 
        <li><a>happily</a></li> 
        <li><a>happiness</a></li> 
        <li><a>happy</a></li> 
        <li><a>hard</a></li> 
        <li><a>hardly</a></li> 
        <li><a>harm</a></li> 
        <li><a>harmful</a></li> 
        <li><a>harmless</a></li> 
        <li><a>hat</a></li> 
        <li><a>hate</a></li> 
        <li><a>hatred</a></li> 
        <li><a>have</a></li> 
        <li><a>have back</a></li> 
        <li><a>have on</a></li> 
        <li><a>have to</a></li> 
        <li><a>he</a></li> 
        <li><a>hate</a></li> 
        <li><a>hatred</a></li> 
        <li><a>have</a></li> 
        <li><a>have back</a></li> 
        <li><a>have on</a></li> 
        <li><a>have to</a></li> 
        <li><a>he</a></li> 
        <li><a>head</a></li> 
        <li><a>headache</a></li> 
        <li><a>head</a></li> 
        <li><a>headache</a></li> 
        <li><a>heal</a></li> 
        <li><a>heal</a></li> 
        <li><a>health</a></li> 
        <li><a>healthy</a></li> 
        <li><a>hear</a></li> 
        <li><a>hear from</a></li> 
        <li><a>hearing</a></li> 
        <li><a>hear of</a></li> 
        <li><a>heart</a></li> 
        <li><a>heat</a></li> 
        <li><a>heating</a></li> 
        <li><a>heat up</a></li> 
        <li><a>heaven</a></li> 
        <li><a>heavily</a></li> 
        <li><a>heavy</a></li> 
        <li><a>heel</a></li> 
        <li><a>height</a></li> 
        <li><a>hell</a></li> 
        <li><a>hello</a></li> 
        <li><a>help</a></li> 
        <li><a>helpful</a></li> 
        <li><a>help out</a></li> 
        <li><a>hence</a></li> 
        <li><a>her</a></li> 
        <li><a>here</a></li> 
        <li><a>hero</a></li> 
        <li><a>hers</a></li> 
        <li><a>herself</a></li> 
        <li><a>hesitate</a></li> 
        <li><a>hi</a></li> 
        <li><a>hide</a></li> 
        <li><a>high</a></li> 
        <li><a>highlight</a></li> 
        <li><a>highly</a></li> 
        <li><a>highway</a></li> 
        <li><a>hill</a></li> 
        <li><a>him</a></li> 
        <li><a>himself</a></li> 
        <li><a>hip</a></li> 
        <li><a>hire</a></li> 
        <li><a>hire out</a></li> 
        <li><a>his</a></li> 
        <li><a>historical</a></li> 
        <li><a>history</a></li> 
        <li><a>hit</a></li> 
        <li><a>hobby</a></li> 
        <li><a>hold</a></li> 
        <li><a>hold back</a></li> 
        <li><a>hold on</a></li> 
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
