<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: L-N</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_p">
             <li><a href="./wordlists">A-B</a></li>
             <li><a href="./c-d">C-D</a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><a href="./h-k">H-K</a></li>
             <li><class="currentpage"><span>L-N</span></a></li>
             <li><a href="./o-p">O-P</a></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><a href="./s">S</a></li>
             <li><a href="./t">T</a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div> 
    </div>
    <div class="side-selector__right"> 
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>lab</a></li> 
        <li><a>label</a></li> 
        <li><a>laboratory</a></li> 
        <li><a>labour</a></li> 
        <li><a>lack</a></li> 
        <li><a>lacking</a></li> 
        <li><a>lady</a></li> 
        <li><a>lake</a></li> 
        <li><a>lamp</a></li> 
        <li><a>land</a></li> 
        <li><a>landscape</a></li> 
        <li><a>lane</a></li> 
        <li><a>language</a></li> 
        <li><a>large</a></li> 
        <li><a>largely</a></li> 
        <li><a>last</a></li> 
        <li><a>late</a></li> 
        <li><a>later</a></li> 
        <li><a>latest</a></li> 
        <li><a>latter</a></li> 
        <li><a>laugh</a></li> 
        <li><a>laugh at</a></li> 
        <li><a>launch</a></li> 
        <li><a>law</a></li> 
        <li><a>law</a></li> 
        <li><a>lawyer</a></li> 
        <li><a>lay</a></li> 
        <li><a>layer</a></li> 
        <li><a>lazy</a></li> 
        <li><a>lead</a></li> 
        <li><a>leader</a></li> 
        <li><a>leading</a></li> 
        <li><a>leaf</a></li> 
        <li><a>league</a></li> 
        <li><a>lean/a></li> 
        <li><a>learn</a></li> 
        <li><a>least</a></li> 
        <li><a>leather</a></li> 
        <li><a>leave</a></li> 
        <li><a>leave out</a></li> 
        <li><a>lecture</a></li> 
        <li><a>left</a></li> 
        <li><a>leg</a></li> 
        <li><a>legal</a></li> 
        <li><a>legally</a></li> 
        <li><a>lemon</a></li> 
        <li><a>lend</a></li> 
        <li><a>length</a></li> 
        <li><a>less</a></li> 
        <li><a>lesson</a></li> 
        <li><a>let</a></li> 
        <li><a>let down</a></li> 
        <li><a>let off</a></li> 
        <li><a>letter</a></li> 
        <li><a>level</a></li> 
        <li><a>library</a></li> 
        <li><a>licence</a></li> 
        <li><a>license</a></li> 
        <li><a>lid</a></li> 
        <li><a>lie</a></li> 
        <li><a>lie around</a></li> 
        <li><a>lie down</a></li> 
        <li><a>life</a></li> 
        <li><a>lift</a></li> 
        <li><a>light</a></li> 
        <li><a>lightly</a></li> 
        <li><a>like</a></li> 
        <li><a>likely</a></li> 
        <li><a>limit</a></li> 
        <li><a>limited</a></li> 
        <li><a>limit to</a></li> 
        <li><a>line</a></li> 
        <li><a>link</a></li> 
        <li><a>lip</a></li> 
        <li><a>liquid</a></li> 
        <li><a>list</a></li> 
        <li><a>listen</a></li> 
        <li><a>literature</a></li> 
        <li><a>litre</a></li> 
        <li><a>little</a></li> 
        <li><a>live</a></li> 
        <li><a>lively</a></li> 
        <li><a>live on</a></li> 
        <li><a>live through</a></li> 
        <li><a>live together</a></li> 
        <li><a>living</a></li> 
        <li><a>load</a></li> 
        <li><a>loan</a></li> 
        <li><a>local</a></li> 
        <li><a>locally</a></li> 
        <li><a>locate</a></li> 
        <li><a>located</a></li> 
        <li><a>location</a></li> 
        <li><a>lock</a></li> 
        <li><a>lock up</a></li> 
        <li><a>logic</a></li> 
        <li><a>logical</a></li> 
        <li><a>lonely</a></li> 
        <li><a>long</a></li> 
        <li><a>low</a></li> 
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
