<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: O-P</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_phone">
             <li><a href="./wordlists">A-B</a></li>
             <li><a href="./c-d">C-D</a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><a href="./h-k">H-K</a></li>
             <li><a href="./l-n">L-N</a></li>
             <li class="currentpage"><span>O-P</span></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><a href="./s">S</a></li>
             <li><a href="./t">T</a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div>
    </div>
    <div class="side-selector__right"> 
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>obey</a></li> 
        <li><a>object</a></li> 
        <li><a>objective</a></li> 
        <li><a>observation</a></li> 
        <li><a>observe</a></li> 
        <li><a>obtain</a></li> 
        <li><a>obvious</a></li> 
        <li><a>obviously</a></li> 
        <li><a>occasion</a></li> 
        <li><a>occasionlly</a></li> 
        <li><a>occupied</a></li> 
        <li><a>occupy</a></li> 
        <li><a>occur</a></li> 
        <li><a>occur to</a></li> 
        <li><a>ocean</a></li> 
        <li><a>o'clock</a></li> 
        <li><a>October</a></li> 
        <li><a>odd</a></li> 
        <li><a>oddly</a></li> 
        <li><a>of</a></li> 
        <li><a>off</a></li> 
        <li><a>offence</a></li> 
        <li><a>offend</a></li> 
        <li><a>offensive</a></li> 
        <li><a>offer</a></li> 
        <li><a>office</a></li> 
        <li><a>officer</a></li> 
        <li><a>official</a></li> 
        <li><a>officially</a></li> 
        <li><a>often</a></li> 
        <li><a>oh</a></li> 
        <li><a>oil</a></li> 
        <li><a>OK</a></li> 
        <li><a>old</a></li> 
        <li><a>old-fashioned</a></li> 
        <li><a>on</a></li> 
        <li><a>once</a></li> 
        <li><a>one</a></li> 
        <li><a>one another</a></li> 
        <li><a>onion</a></li> 
        <li><a>online</a></li> 
        <li><a>only</a></li> 
        <li><a>onto</a></li> 
        <li><a>open</a></li> 
        <li><a>opening</a></li> 
        <li><a>openly</a></li> 
        <li><a>open u[</a></li> 
        <li><a>operate</a></li> 
        <li><a>operation</a></li> 
        <li><a>opinion</a></li> 
        <li><a>opponent</a></li> 
        <li><a>opportunity</a></li> 
        <li><a>oppose</a></li> 
        <li><a>opposing</a></li> 
        <li><a>opposite</a></li> 
        <li><a>opposition</a></li> 
        <li><a>option</a></li> 
        <li><a>or</a></li> 
        <li><a>orange</a></li> 
        <li><a>order</a></li> 
        <li><a>ordinary</a></li> 
        <li><a>organ</a></li> 
        <li><a>organization</a></li> 
        <li><a>organize</a></li> 
        <li><a>organized</a></li> 
        <li><a>origin</a></li> 
        <li><a>original</a></li> 
        <li><a>originally</a></li> 
        <li><a>other</a></li> 
        <li><a>otherwise</a></li> 
        <li><a>ought to</a></li> 
        <li><a>our</a></li> 
        <li><a>ours</a></li> 
        <li><a>ourselves</a></li> 
        <li><a>out</a></li> 
        <li><a>outdoor</a></li> 
        <li><a>outdoors</a></li> 
        <li><a>outer</a></li> 
        <li><a>outline</a></li> 
        <li><a>output</a></li> 
        <li><a>outside</a></li> 
        <li><a>outstanding</a></li> 
        <li><a>oven</a></li> 
        <li><a>over</a></li> 
        <li><a>overall</a></li> 
        <li><a>overcome</a></li> 
        <li><a>owe</a></li> 
        <li><a>own</a></li> 
        <li><a>owner</a></li> 
        <li><a>own up</a></li> 
        <li><a>pace</a></li> 
        <li><a>pack</a></li> 
        <li><a>package</a></li> 
        <li><a>packaging</a></li> 
        <li><a>packet</a></li> 
        <li><a>pack up</a></li> 
        <li><a>page</a></li> 
        <li><a>pain</a></li> 
        <li><a>painful</a></li> 
        <li><a>paint</a></li>
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
