<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: S</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_p">
             <li><a href="./wordlists">A-B</a></li>
             <li><a href="./c-d">C-D</a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><a href="./h-k">H-K</a></li>
             <li><a href="./l-n">L-N</a></li>
             <li><a href="./o-p">O-P</a></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><class="currentpage"><span>S</span></a></li>
             <li><a href="./t">T</a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div> 
    </div>
    <div class="side-selector__right">
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>sack</a></li> 
        <li><a>sad</a></li> 
        <li><a>sadly</a></li> 
        <li><a>sadness</a></li> 
        <li><a>safe</a></li> 
        <li><a>safely</a></li> 
        <li><a>safety</a></li> 
        <li><a>sail</a></li> 
        <li><a>sailing</a></li> 
        <li><a>sailor</a></li> 
        <li><a>salad</a></li> 
        <li><a>salary</a></li> 
        <li><a>sale</a></li> 
        <li><a>salt</a></li> 
        <li><a>same</a></li> 
        <li><a>sample</a></li> 
        <li><a>sand</a></li> 
        <li><a>satisfaction</a></li> 
        <li><a>satisdied</a></li> 
        <li><a>satisfy</a></li> 
        <li><a>satisfying</a></li> 
        <li><a>Saturday</a></li> 
        <li><a>sauce</a></li> 
        <li><a>save</a></li> 
        <li><a>saving</a></li> 
        <li><a>say</a></li> 
        <li><a>scale</a></li> 
        <li><a>scare</a></li> 
        <li><a>scared</a></li> 
        <li><a>scare off</a></li> 
        <li><a>scene</a></li> 
        <li><a>schedule</a></li> 
        <li><a>scheme</a></li> 
        <li><a>school</a></li> 
        <li><a>science</a></li> 
        <li><a>scientific</a></li> 
        <li><a>scientist</a></li> 
        <li><a>scissors</a></li> 
        <li><a>score</a></li> 
        <li><a>scratch</a></li> 
        <li><a>scream</a></li> 
        <li><a>screen</a></li> 
        <li><a>screw</a></li> 
        <li><a>sea</a></li> 
        <li><a>seal</a></li> 
        <li><a>seal off</a></li> 
        <li><a>search</a></li> 
        <li><a>season</a></li> 
        <li><a>seat</a></li> 
        <li><a>second</a></li> 
        <li><a>secondary</a></li> 
        <li><a>secret</a></li> 
        <li><a>secretary</a></li> 
        <li><a>secretly</a></li> 
        <li><a>section</a></li> 
        <li><a>sector</a></li> 
        <li><a>secure</a></li> 
        <li><a>security</a></li> 
        <li><a>see</a></li> 
        <li><a>see about</a></li> 
        <li><a>seed</a></li> 
        <li><a>seek</a></li> 
        <li><a>seem</a></li> 
        <li><a>see to</a></li> 
        <li><a>select</a></li> 
        <li><a>selection</a></li> 
        <li><a>self</a></li> 
        <li><a>sell</a></li> 
        <li><a>sell off</a></li> 
        <li><a>sell out</a></li> 
        <li><a>senate</a></li> 
        <li><a>senator</a></li> 
        <li><a>send</a></li> 
        <li><a>send for</a></li> 
        <li><a>send off</a></li> 
        <li><a>senior</a></li> 
        <li><a>sense</a></li> 
        <li><a>sensible</a></li> 
        <li><a>sensitive</a></li> 
        <li><a>sentence</a></li> 
        <li><a>separate</a></li> 
        <li><a>separated</a></li> 
        <li><a>separately</a></li> 
        <li><a>separation</a></li> 
        <li><a>September</a></li> 
        <li><a>series</a></li> 
        <li><a>serious</a></li> 
        <li><a>seriously</a></li> 
        <li><a>servant</a></li> 
        <li><a>serve</a></li> 
        <li><a>service</a></li> 
        <li><a>session</a></li> 
        <li><a>set</a></li> 
        <li><a>set off</a></li> 
        <li><a>set out</a></li> 
        <li><a>settle</a></li> 
        <li><a>settle down</a></li> 
        <li><a>set up</a></li> 
        <li><a>seven</a></li> 
        <li><a>seventeen</a></li> 
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
