<div class="middle_wrap wordlist-page">
  <div class="share-this-entry">
    <p class="definition-title">Framgia E-Learning System</p>
  </div>
  <h1>
    Word List 1
  </h1>
    <div class="responsive_row">
     <h4>Entries: T</h4>
     <div class="side-selector clear_fix">
    <div class="side-selector__left"> 
        <div id="entries-selector" class="">
            <ul class="hide_p">
             <li><a href="./wordlists">A-B</a></li>
             <li><a href="./c-d">C-D</a></li>
             <li><a href="./e-g">E-G</a></li>
             <li><a href="./h-k">H-K</a></li>
             <li><a href="./l-n">L-N</a></li>
             <li><a href="./o-p">O-P</a></li>
             <li><a href="./q-r">Q-R</a></li>
             <li><a href="./s">S</a></li>
             <li><class="currentpage"><span>T</span></a></li>
             <li><a href="./u-z">U-Z</a></li>
            </ul>
        </div> 
    </div>
    <div class="side-selector__right"> 
     <div id="entrylist1">
      <ol class="result-list1 wordlist">
        <li><a>table</a></li> 
        <li><a>tablet</a></li> 
        <li><a>tackle</a></li> 
        <li><a>tail</a></li> 
        <li><a>take</a></li> 
        <li><a>take away</a></li> 
        <li><a>take back</a></li> 
        <li><a>take down</a></li> 
        <li><a>take in</a></li> 
        <li><a>take off</a></li> 
        <li><a>take on</a></li> 
        <li><a>take over</a></li> 
        <li><a>take up</a></li> 
        <li><a>talk</a></li> 
        <li><a>tall</a></li> 
        <li><a>tank</a></li> 
        <li><a>tap</a></li> 
        <li><a>tape</a></li> 
        <li><a>target</a></li> 
        <li><a>task</a></li> 
        <li><a>taste</a></li> 
        <li><a>tax</a></li> 
        <li><a>taxi</a></li> 
        <li><a>tea</a></li> 
        <li><a>teach</a></li> 
        <li><a>teacher</a></li> 
        <li><a>teaching</a></li> 
        <li><a>team</a></li> 
        <li><a>tear</a></li> 
        <li><a>tear up</a></li> 
        <li><a>technical</a></li> 
        <li><a>technique</a></li> 
        <li><a>technology</a></li> 
        <li><a>telephone</a></li> 
        <li><a>television</a></li> 
        <li><a>tell</a></li> 
        <li><a>tell off</a></li> 
        <li><a>temperature</a></li> 
        <li><a>temporarily</a></li> 
        <li><a>temporary</a></li> 
        <li><a>ten</a></li> 
        <li><a>tend</a></li> 
        <li><a>tendency</a></li> 
        <li><a>tension</a></li> 
        <li><a>tent</a></li> 
        <li><a>tenth</a></li> 
        <li><a>term</a></li> 
        <li><a>terrible</a></li> 
        <li><a>terribly</a></li> 
        <li><a>test</a></li> 
        <li><a>text</a></li> 
        <li><a>than</a></li> 
        <li><a>thanks</a></li> 
        <li><a>thank you</a></li> 
        <li><a>that</a></li> 
        <li><a>the</a></li> 
        <li><a>theatre</a></li> 
        <li><a>their</a></li> 
        <li><a>theirs</a></li> 
        <li><a>them</a></li> 
        <li><a>theme</a></li> 
        <li><a>themselves</a></li> 
        <li><a>then</a></li> 
        <li><a>theory</a></li> 
        <li><a>there</a></li> 
        <li><a>therefore</a></li> 
        <li><a>they</a></li> 
        <li><a>thick</a></li> 
        <li><a>thickly</a></li> 
        <li><a>thickness</a></li> 
        <li><a>thief</a></li> 
        <li><a>thin</a></li> 
        <li><a>thing</a></li> 
        <li><a>think</a></li> 
        <li><a>think about</a></li> 
        <li><a>thinking</a></li> 
        <li><a>think of</a></li> 
        <li><a>think of as</a></li> 
        <li><a>think over</a></li> 
        <li><a>think up</a></li> 
        <li><a>third</a></li> 
        <li><a>thirsty</a></li> 
        <li><a>thirteenth</a></li> 
        <li><a>thirtieth</a></li> 
        <li><a>thirty</a></li> 
        <li><a>this</a></li> 
        <li><a>thorough</a></li> 
        <li><a>thoroughly</a></li> 
        <li><a>though</a></li> 
        <li><a>thought</a></li> 
        <li><a>thousand</a></li> 
        <li><a>thousandth</a></li> 
        <li><a>thread</a></li> 
        <li><a>threat</a></li> 
        <li><a>threaten</a></li> 
        <li><a>threatening</a></li> 
        <li><a>three</a></li> 
        <li><a>throat</a></li> 
        <li><a>through</a></li> 
        <li><a>throughout</a></li> 
      </ol>
     </div>
    </div>
     </div>
    </div>
</div>
