<footer class="footer">
  <small>
    <%= t "layouts._footer.the" %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.about_1"), about_path %></li>
      <li><%= link_to t("layouts._footer.contact_1"), contact_path %></li>
    </ul>
  </nav>
</footer>
